@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

::-webkit-scrollbar {
  width: 10px;
  border-radius: 0.75rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.75rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main-container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: clamp(1.5rem, 5vw, 2.75rem);
  font-family: "Montserrat", sans-serif;
}

.search {
  width: 100%;
}

input.search-input {
  background-color: #f5f3f3;
  border-radius: 0.25rem;
  padding: clamp(0.5rem, 2vw, 0.85rem);
  border: 1px solid black;
  width: 100%;
  font-size: clamp(1rem, 2vw, 1.75rem);
}

input.search-input:focus {
  outline: none;
}

.player-container {
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
  min-width: 100%;
  justify-content: space-around;
  align-items: center;
}

.player-not-found,
.player-spinner {
  font-size: clamp(1rem, 2vw, 1.75rem);
}
